.main-frame {
  border: 1.78px solid rgba(249, 249, 252, 1);
  border-radius: 3.8315px;
  box-shadow: 0px 9.5045px 14.2567px rgba(0, 0, 0, 0.06), 0px 1.18806px 3.56419px rgba(0, 0, 0, 0.04), 0px 0px 0.594031px rgba(0, 0, 0, 0.04)
}